doctype html
html
	include head.jade
	body
		include encabezado.jade
		#myCarousel.carousel.slide(data-ride="carousel")
			ol.carousel-indicators
				h1 AUTUMN/WINTER LOOKBOOK
				p - 2016 COLLECTION -
				li.active(data-target="#myCarousel", data-slide-to="0")
				li(data-target="#myCarousel", data-slide-to="1")
				li(data-target="#myCarousel", data-slide-to="2")
				li(data-target="#myCarousel", data-slide-to="3")
			.carousel-inner(role="listbox")
				.item.active
					img(src="../images/slider1.jpg")
					a.left.carousel-control(href="#myCarousel", role="button", data-slide="prev")
						span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
						span.sr-only Previo
					a.right.carousel-control(href="#myCarousel", role="button", data-slide="next")
						span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
						span.sr-only Next

		.productos
			.container
				.row.banners
					.col-md-6
						img(src="../images/banner1.jpg")
					.col-md-6
						img(src="../images/banner2.jpg")
				include menu.jade
				.row.carteras
					ul.list-unstyled.list-inline
						li.marco
							img(src="../images/a1.jpg")
							span.sale SALE
							p Deliver wide
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star-o
							i.fa.fa-star-o
							p 
								span.red $300.00
						li.marco
							img(src="../images/b1.jpg")
							span.sale SALE							
							p Deliver wide
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star-o
							i.fa.fa-star-o
							p 
								strike.dl $400.00
								&nbsp         
								span.dl.red $300.00
						li.marco
							img(src="../images/c1.jpg")
							span.new NEW
							p Deliver wide
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star-o
							i.fa.fa-star-o
							p 
								strike.dl $550.50 
								&nbsp            
								span.dl.red $300.00
						li.marco
							img(src="../images/d1.jpg")
							span.sale SALE
							p Deliver wide
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star-o
							i.fa.fa-star-o
							p 
								span.red $300.00
		.clientes
			.container
				.row.list-inline
					img(src="../images/client1.jpg")
					img(src="../images/client2.jpg")
					img(src="../images/client3.jpg")
					img(src="../images/client4.jpg")
					img(src="../images/client5.jpg")
					img(src="../images/client6.jpg")
		.productos
			.container				
				include menu.jade
				.row.carteras
					.col-md-2.linea
						img(src="../images/a1.jpg")
					.col-md-2
						p Deliver wide
						p 
							strike.dl $400.00
							&nbsp         
							span.dl.red $300.00						
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star-o
						i.fa.fa-star-o							
						button.carro
							i.fa.fa-shopping-cart
							&nbsp
							span Add to Cart
					.col-md-2.linea
						img(src="../images/b1.jpg")
					.col-md-2
						p Deliver wide
						p 
							span.red $300.00
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star-o
						i.fa.fa-star-o								
						button.carro
							i.fa.fa-shopping-cart
							&nbsp
							span Add to Cart
					.col-md-2.linea
						img(src="../images/c1.jpg")
					.col-md-2
						p Deliver wide
						p 
							span.red $300.00
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star-o
						i.fa.fa-star-o								
						button.carro
							i.fa.fa-shopping-cart
							&nbsp
							span Add to Cart
				.row.carteras
					.col-md-2.linea
						img(src="../images/d1.jpg")
					.col-md-2
						p Deliver wide
						p 
							span.red $300.00
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star-o
						i.fa.fa-star-o								
						button.carro
							i.fa.fa-shopping-cart
							&nbsp
							span Add to Cart
					.col-md-2.linea
						img(src="../images/c1.jpg")
					.col-md-2
						p Deliver wide
						p 
							span.red $300.00
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star-o
						i.fa.fa-star-o						
						button.carro
							i.fa.fa-shopping-cart
							&nbsp
							span Add to Cart
					.col-md-2.linea
						img(src="../images/d1.jpg")
					.col-md-2
						p Deliver wide
						p 
							span.red $300.00
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star-o
						i.fa.fa-star-o								
						button.carro
							i.fa.fa-shopping-cart
							&nbsp
							span Add to Cart
		.blog
			.container
				.row.separador
					.col-md-5
						hr
					.col-md-2.text-center
						&lt;
						span BLOG
						&gt;
					.col-md-5
						hr 
				.row.personas
					.col-md-3
						img(src="../images/blog2.jpg")
						strong THE SAMPLE HEADING TEATLE
						br
						small 12/08/2016
						p lorem ipsum lorem imptund cantus diyf poliuxiin...
						small.red Read more...
					.col-md-3
						img(src="../images/blog1.jpg")
						strong THE SAMPLE HEADING TEATLE
						br
						small 12/08/2016
						p lorem ipsum lorem imptund cantus diyf poliuxiin...
						small.red Read more...
					.col-md-3
						img(src="../images/blog2.jpg")
						strong THE SAMPLE HEADING TEATLE
						br
						small 12/08/2016
						p lorem ipsum lorem imptund cantus diyf poliuxiin...
						small.red Read more...
					.col-md-3
						img(src="../images/blog3.jpg")
						strong THE SAMPLE HEADING TEATLE
						br
						small 12/08/2016
						p lorem ipsum lorem imptund cantus diyf poliuxiin...
						small.red Read more...
		.reserva
			.container
				.row
					.col-md-4.ofertas
						i.fa.fa-phone-square.pull-left.icon-g
						p.pull-right ORDER ONLINE NOW
						p.pull-right Call us:(+34 3454356)					
					.col-md-4.ofertas
						i.fa.fa-plane.pull-left.icon-g 
						p.pull-right FREE WOLR WHIDE WISHCES
						p.pull-right On oder over free					
					.col-md-4.ofertas
						i.fa.fa-money.pull-left.icon-g
						p.pull-right 30 MONEY DAYS 100%
						p.pull-right Satisfaccoin garante
		include pie.jade

	
