block separador
	.row.separador
		.col-md-4
			hr
		.col-md-4
			ul.list-unstyled.list-inline
				&lt;
				li 
					a(href="index.html#delicias") LATEST
				li 
					a(href="index.html#delicias") BESTCELLER
				li 
					a(href="index.html#delicias") SALE
				&gt;
		.col-md-4
			hr 
