block pie
	.pre-footer
		.container
			.row
				.col-md-3
					h4 ACCESORRIES
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis omnis accusantium dicta provident, nihil dolorem eligendi ipsum iure expedita.
						.sociales.list-inline
							i.fa.fa-facebook
							i.fa.fa-twitter
							i.fa.fa-skype
							i.fa.fa-dribbble
							i.fa.fa-rss
								
				.col-md-2
					h4 MY ACOUNDT
					ul.list-unstyled
						li 
							i.fa.fa-caret-right 						
							a(href="index.html#delicias") My Acocound
						li 
							i.fa.fa-caret-right 						
							a(href="index.html#delicias") Order History
						li 
							i.fa.fa-caret-right 						
							a(href="index.html#delicias") Wwach List
						li 
							i.fa.fa-caret-right 
							a(href="index.html#delicias") Newsletter
				.col-md-2
					h4 INFORMATION
					ul.list-unstyled
						li 
							i.fa.fa-caret-right 						
							a(href="index.html#delicias") About Us
						li 
							i.fa.fa-caret-right 						
							a(href="index.html#delicias") Delivery Informnaticon
						li 
							i.fa.fa-caret-right 						
							a(href="index.html#delicias") Privacity Policy
						li 
							i.fa.fa-caret-right 
							a(href="index.html#delicias") Terms & Conditions

				.col-md-2
					h4 EXTRAS
					ul.list-unstyled
						li 
							i.fa.fa-caret-right 						
							a(href="index.html#delicias") Brands
						li 
							i.fa.fa-caret-right 						
							a(href="index.html#delicias") Gits Vouchrs
						li 
							i.fa.fa-caret-right 						
							a(href="index.html#delicias") Affiliatees
						li 
							i.fa.fa-caret-right 
							a(href="index.html#delicias") Speciales					

				.col-md-3
					H4 ABOUT US
					ul.list-unstyled
						li.contac
							i.fa.fa-map-marker.pull-right
							p 35456 Mordat DO34 45
							p GR, New York
						li.contac
							i.fa.fa-phone.pull-right
							p (2342)35456 
							p (3255)34445
						li.contac 
							i.fa.fa-envelope-o.pull-right
							p admin@bocted.com
	.footer
		.container
			.row
				.col-md-6
					a CopyRight &copy 1025
					a.red BooksExpert
					a AllRirhtReservet
				.col-md-6
					img(src="../images/payment.png")