/*----------Backgraund------------*/

$bg_uno:#EEEEEE;


/*----------Colores------------*/

$blanco:#fff;
$negro:#000;
$rojo:#E48080;
$plomo:#F1F1F1;
$plomo_oscuro:#444444;


/*----------Iconos------------*/

